* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro';
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1137px;
    margin-left: auto;
    margin-right: auto;
}