.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;

}

.nav_item {
    display: flex;
    gap: 32px;
}

.nav_img {
    margin-top: 13px;
}

.nav_link {
    color: #242D52;
    font-size: 13px;
    font-weight: 500;
}

.nav_btn {
    color: #FCF6F5;
    font-size: 13px;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #F3603C;
    border-radius: 30px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 13px;

}